*{
    margin:0;
    padding:0;
}
body{
    
    font-family: "Roboto", sans-serif;
    font-weight: 50%;
    font-style:normal;
    background-color: white;
    text-align: center;
    margin: 50px;
    font-size: x-large
    
}
@media(min-width 758px)



p{
    line-height: 2;
    margin:  20px;  
    text-align: left;
    background-color: 
    font-weight:bold;
   
}

h1,h2,h3{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
a{
    text-decoration:dashed;
    color: white;
}

img{
    max-width: 400px;
    margin-block: 10%;  
    background-color: 
}


/*utilities*/
.container{
    width: 100px;
    margin-left: auto;
    margin-top: auto;
}
/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    color: white;
  
  
    
}
nav a{
    color: white;
}


/*more about us*/
.more-about-container{
    display:flex;
    flex-direction: row;
}
@media(max-width:758px){

    .more-about-container{
    display:flex;
    flex-direction: row;
}
.h2{
    text-align:center ;
}

}
    
/*house and penthouses*/
.house-item{ 
    background-color: gray;
    margin-right: 8px;
    display: flex;
}
.house-item-img{
   width: 425px;
   background-color: #dedede
   
}
.house-item-text{
  padding: 10px;
}

.house-item ul{
    display: flex;
    justify-content: space-around;
}
  /*CONTACT*/
.site-contact{
    background: color #e7b921;
    height:250px;
}

.navigation-bar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.navigation-bar a{
    color: black;
    margin-right:30px;
    background-color: white;
}
.form-container{
    background-color: green;
    padding:10px;
}

.btn-details{
    display:block;
    background-color: #c7660b;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/*container*/
.form-container{
    background-color: #dedede;
    padding: 10px;
}

.flex-test{
    display:flex;
    display: inline-flex;

}
legend {
    font-size:40px;

}

.input-container {

    background-color: red;
    margin-bottom:  10px;
    display: flex;
    border: 1px inline block;
    width: 10px;
}
.label-container label {
    background-color: red;
    display:inline-block;
    width:10%;

}

fieldset{
    padding: 10px;
    border: 3px solid red;
    margin: bottom 20px;
    background-color: orange;
    text-align: left;
    
}
.input-container textarea{
    display: inline-block;
    width: 85%;
    border: 1px;
    padding: 3px;
  
}

.footer-container{
    display: flex;
    justify-content: space around;
    align-items: center;

}

.text-container{
    display: flex;

}

/*contact*/

.site-contact{

    background-color: orange;
}
.form-container{
    background-color: blue;
    border-color: #c7660b;

}

.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items:center;
}


.footer-container{
    display flex:
    justify-content: space-around;
}